body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #6c7279;
    -webkit-font-smoothing: antialiased;
    background-color: #fff;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0 0 10px;
}

.header {
    background: red;
    position: absolute;
    width: 1920px;
    height: 80px;
    left: 0px;
    top: 0px;
}

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 65px;
    position: absolute;
    width: 592px;
    height: 34px;
    right: 332px;
    top: calc(50% - 34px/2);
}

.header__logo {
    position: absolute;
    left: 5.21%;
    right: 86.46%;
    top: 30%;
    bottom: 30%;
}

.burger {
    position: absolute;
    width: 132px;
    height: 22px;
    left: 1688px;
    top: 32px;
}

.intro {
    position: absolute;
    width: 1920px;
    height: 900px;
    left: 0px;
    top: -2px;
    background-image: url(/src/unsplash_GeKoZualPmA.jpg);
    background: linear-gradient(358.91deg, #FFD300 0.95%, rgba(255, 211, 0, 0.05) 99.1%);
    backdrop-filter: blur(10px);
}