body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #6c7279;
    -webkit-font-smoothing: antialiased;
    background-color: #fff;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0 0 10px;
}

.header {
    background: red;
    position: absolute;
    width: 1920px;
    height: 80px;
    left: 0px;
    top: 0px;
}

.header a {
    text-decoration: none;
}

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 100px;
    position: absolute;
    width: 592px;
    height: 34px;
    right: 332px;
    top: calc(50% - 34px/2);
}

.header__logo {
    position: absolute;
    left: 5.21%;
    right: 86.46%;
    top: 30%;
    bottom: 30%;
}

.burger {
    position: absolute;
    width: 132px;
    height: 22px;
    left: 1688px;
    top: 30px;
}

.intro {
    position: absolute;
    width: 1920px;
    height: 900px;
    left: 0px;
    top: 82px;
    background: linear-gradient(358.91deg, #FFD300 0.95%, rgba(255, 211, 0, 0.05) 99.1%), url(/src/unsplash_GeKoZualPmA.jpg);
    backdrop-filter: blur(10px);
}

.intro__right {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    position: absolute;
    width: 262px;
    height: 29px;
    right: 100px;
    top: 63px;
}

.intro__left {
    position: absolute;
    /* left: 5.21%;
    right: 79.95%;
    top: 63px;
    bottom: 98.07%; */
    left: 100px;
    top: 63px;
}

.intro__header {
    position: absolute;
    width: 1430px;
    height: 240px;
    left: 245px;
    top: 286px;
    /* main/H1 */
    font-family: 'Muller';
    font-style: normal;
    font-weight: 700;
    font-size: 100px;
    line-height: 120px;
    /* or 120px */
    display: flex;
    align-items: center;
    text-align: center;
    /* w */
    color: #FFFFFF;
}

.intro__image {
    /* position: absolute;
    width: 1138px;
    height: 3658px;
    left: 391px;
    top: 529.53px; */
    position: absolute;
    width: 1138px;
    height: 642.93px;
    left: 391px;
    top: 530px;
    /* b */
    border: 7px solid #181D27;
    border-radius: 34px;
    background: url(/src/main-ะด\ 1.jpg);
}

.intro__diletant {
    position: absolute;
    width: 1920px;
    height: 328px;
    left: 0px;
    top: 1062px;
    background: #FFD300;
    /* case shadow text */
    box-shadow: 0px -8px 48px rgba(35, 31, 32, 0.24);
    display: flex;
    justify-content: space-between;
}

.diletant__logo {
    position: absolute;
    width: 411px;
    height: 54px;
    left: 100px;
    top: 137px;
}

.diletant__describe {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    left: 680px;
    top: 150px;
    right: 100px;
    width: 1140px;
    height: 29px;
    font-family: 'Muller';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 130%;
}

.footer {
    position: absolute;
    width: 1920px;
    height: 851px;
    left: 0px;
    top: 7940px;
}

.footer__top {
    position: absolute;
    width: 1920px;
    height: 150px;
    left: 0px;
    top: 701px;
    background: #11141C;
}

.footer__top h2 {
    position: absolute;
    /* width: 206px;
    height: 57px;
    left: 100px;
    top: 112px; */
    /* main/H2 */
    font-family: 'Muller';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 130%;
    /* or 57px */
    /* w */
    color: #FFFFFF;
}